* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.header.fixed {
  position: sticky;
  top: -16px;
}

.logo img {
  height: 70px;
}
header {
  z-index: 100;
}
.container {
  background-color: rgb(248, 247, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.nav a {
  text-decoration: none;
  padding: 28px;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.nav a:hover {
  text-shadow: 1px 0;
}
.gio_hang {
  padding: 24px;
}
.gio_hang img {
  width: 28px;
  padding: 10px;
}
/* Phan main */
.main {
  height: 600px;
  background-image: url(/images/Background_\ Library.jpg);

  background-size: cover;
  position: relative;
  inset: 0;
  backdrop-filter: blur(6px);
}
.about {
  color: white;
  position: absolute;
  bottom: 30px;
  padding-left: 20px;
}
.about h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 50px;
}
.about h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.about h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
/* san pham */
.sanpham-list {
  padding: 24px;
}
.sanpham {
  width: 300px;
}
.sanpham img {
  width: 250px;
  text-align: center;
}
.sanpham-list h1 {
  text-align: center;
  padding-bottom: 50px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.sanpham:hover {
  border-style: solid;
}
